

<div id="controls-carousel" class="relative w-full" data-carousel="static">
  <!-- Carousel wrapper -->
  <div class="relative h-56 overflow-hidden rounded-lg md:h-96">
       <!-- Item 1 -->

        <div class="hidden duration-700 ease-in-out" data-carousel-item>
          <div class="h-full flex flex-col md:flex-row items-center justify-around px-4 md:px-16 py-8 bg-gray-100">
            <!-- Sección Izquierda-->
            <div class="text-center md:text-left max-w-full md:max-w-lg mb-6 md:mb-0">
              <h1 class="text-3xl md:text-5xl font-bold leading-tight text-gray-900">
                Bibendum et sit aliquam!
              </h1>
              <p class="mt-4 text-gray-600 text-base md:text-lg">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sapien, est felis, sagittis vitae nulla mattis scelerisque.
              </p>
              <button class="mt-6 px-4 py-2 md:px-6 md:py-3 bg-black text-white rounded-full hover:bg-gray-800 focus:ring-2 focus:ring-gray-400">
                Discover Menu
              </button>
            </div>
        
            <!-- Sección Derecha -->
            <div class="flex justify-center items-center w-full md:w-auto">
              <div class="w-64 h-48 md:w-96 md:h-72 rounded-lg overflow-hidden">
                <img src="assets/demo/images/galleria/galleria2.jpg" 
                     class="w-full h-full object-cover" 
                     alt="Imagen de ejemplo">
              </div>
            </div>
          </div>
        </div>
        <div class="hidden duration-700 ease-in-out" data-carousel-item>
          <div class="h-full flex flex-col md:flex-row items-center justify-around px-4 md:px-16 py-8 bg-gray-100">
            <!-- Sección Izquierda -->
            <div class="text-center md:text-left max-w-full md:max-w-lg mb-6 md:mb-0">
              <h1 class="text-3xl md:text-5xl font-bold leading-tight text-gray-900">
                Bibendum et sit aliquam!
              </h1>
              <p class="mt-4 text-gray-600 text-base md:text-lg">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sapien, est felis, sagittis vitae nulla mattis scelerisque.
              </p>
              <button class="mt-6 px-4 py-2 md:px-6 md:py-3 bg-black text-white rounded-full hover:bg-gray-800 focus:ring-2 focus:ring-gray-400">
                Discover Menu
              </button>
            </div>
        
            <!-- Sección Derecha -->
            <div class="flex justify-center items-center w-full md:w-auto">
              <div class="w-64 h-48 md:w-96 md:h-72 rounded-lg overflow-hidden">
                <img src="assets/demo/images/galleria/galleria4.jpg" 
                     class="w-full h-full object-cover" 
                     alt="Imagen de ejemplo">
              </div>
            </div>
          </div>
        </div>
        <div class="hidden duration-700 ease-in-out" data-carousel-item>
          <div class="h-full flex flex-col md:flex-row items-center justify-around px-4 md:px-16 py-8 bg-gray-100">
            <!-- Sección Izquierda-->
            <div class="text-center md:text-left max-w-full md:max-w-lg mb-6 md:mb-0">
              <h1 class="text-3xl md:text-5xl font-bold leading-tight text-gray-900">
                Bibendum et sit aliquam!
              </h1>
              <p class="mt-4 text-gray-600 text-base md:text-lg">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sapien, est felis, sagittis vitae nulla mattis scelerisque.
              </p>
              <button class="mt-6 px-4 py-2 md:px-6 md:py-3 bg-black text-white rounded-full hover:bg-gray-800 focus:ring-2 focus:ring-gray-400">
                Discover Menu
              </button>
            </div>
        
            <!-- Sección Derecha -->
            <div class="flex justify-center items-center w-full md:w-auto">
              <div class="w-64 h-48 md:w-96 md:h-72 rounded-lg overflow-hidden">
                <img src="assets/demo/images/galleria/galleria3.jpg" 
                     class="w-full h-full object-cover" 
                     alt="Imagen de ejemplo">
              </div>
            </div>
          </div>
        </div>
        <div class="hidden duration-700 ease-in-out" data-carousel-item>
          <div class="h-full flex flex-col md:flex-row items-center justify-around px-4 md:px-16 py-8 bg-gray-100">
            <!-- Sección Izquierda -->
            <div class="text-center md:text-left max-w-full md:max-w-lg mb-6 md:mb-0">
              <h1 class="text-3xl md:text-5xl font-bold leading-tight text-gray-900">
                Bibendum et sit aliquam!
              </h1>
              <p class="mt-4 text-gray-600 text-base md:text-lg">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sapien, est felis, sagittis vitae nulla mattis scelerisque.
              </p>
              <button class="mt-6 px-4 py-2 md:px-6 md:py-3 bg-black text-white rounded-full hover:bg-gray-800 focus:ring-2 focus:ring-gray-400">
                Discover Menu
              </button>
            </div>
        
            <!-- Sección Derecha -->
            <div class="flex justify-center items-center w-full md:w-auto">
              <div class="w-64 h-48 md:w-96 md:h-72 rounded-lg overflow-hidden">
                <img src="assets/demo/images/galleria/galleria1.jpg" 
                     class="w-full h-full object-cover" 
                     alt="Imagen de ejemplo">
              </div>
            </div>
          </div>
        </div>

      
  </div>
  <!-- Slider controls -->
  <button type="button" class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
      <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
          <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
          </svg>
          <span class="sr-only">Previous</span>
      </span>
  </button>
  <button type="button" class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next>
      <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
          <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
          </svg>
          <span class="sr-only">Next</span>
      </span>
  </button>
</div>
